@charset 'utf-8';
/* webfont */
@font-face {
    font-family: 'Jeju Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot);
    src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.ttf) format('truetype');
  }

@font-face {
    font-family: 'Gyeonggi_Batang_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_Title_Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none; /*Firefox*/

    -ms-text-size-adjust: none;  /*Ie*/

    -o-text-size-adjust: none; /*old versions of Opera*/
}


body {
    font-family: 'Jeju Myeongjo';
    font-size: 18px;
    color: rgb(0, 0, 0);
    /* background-color: #FFFBF2; */
    background-color: #F9F9F3;
    padding-top: 140px;
}

#wrap {
    min-width: 1360px;
    overflow: hidden;
}


#top {
    position: relative;
    overflow: hidden;
    color: white;
}

/* top*/

#top{
    color: rgb(107, 107, 107);
    background-color: rgba(255, 255, 255, 0.644);
    position: relative;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    padding-top: 20px;
}

.header{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.gnb {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.gnb li{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    justify-content: center;
}


.gnb li a{
    display: block;
    padding: 0 60px;
}

.gnb li a:hover{
    color: black;
    font-weight: 900;
}

.util {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    height: 22px;
    overflow: hidden;
    position: absolute;
    right: -150px;
}

.util li a{
    display: block;
    padding: 0 8px;
}

.search_line {
    width: 80px;
    border-bottom: 1.7px solid rgb(229, 223, 206);
    margin-bottom: 3px;
}

/* fixed */
#fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}




/* visiual */

#video{
    position: relative;
    height: 850px;
}

#visual {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    margin-left: -960px;    
    text-align: center;
}

/* container1 _ CLEAN BEAUTY */


#container1 .intro {
    text-align: center;
    margin: 100px 0 100px 0;
}

#container1 .intro .position {
    margin-bottom: 60px;
}

#container1 .intro p {
    line-height: 1.7em;
    font-size: 22px;
    color: #4A4A4A;
}

#container1 .intro .orange {
    color: #F68300;
}

/* hexagon */

#container1 .content {
    height: 480px;
    background-image: url(../images/main/hexagon/hexagon.png);
    background-position: center;
    background-repeat: no-repeat;
}


.inner_content {
    width: 1320px;
    height: 480px;
    margin: 0 auto;
    position: relative;
    color: rgb(114, 114, 114);
    font-size: 23px;
}

.stress {
    position: absolute;
    top: 182px;
    left: 172px;
    z-index: 99;
}

.skin {
    position: absolute;
    top: 375px;
    left: 493px;
}

.nature {
    position: absolute;
    top: 375px;
    left: 856px;
}


.typing-txt {
    display: none;
}


/* 공통 타이틀, 밑 텍스트 꾸미기 */


.text{
    text-align: center;
    margin: 80px 0 30px 0;
}


.text .title{
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    /* color: #824916; */
    color: #4D3101;
}

.text p{
    line-height: 1.8em;
    font-family: 'Gyeonggi_Batang_Regular';
    text-align: center;
    font-size: 20px;
    margin: 40px 0;
    color: #F68300;
}

.text span{
    font-size: 23px;
    color: #824916;
}




/* contianer2 _ OUR RESPONSIBILITY */

#container2 {
    width: 1320px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 130px;
}

#container2 .content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    /* background-color: orange; */
}

#container2 .bg {
    text-align: center;
    padding-top: 200px;
    box-sizing: border-box;
    height: 314px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#container2 ul li {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container2 .bg1 {
    background-image: url(../images/main/treatment/main_treatment_1.png);
    transform: rotateY(0deg);
    transition: transform 2s;
}

#container2 .bg1:hover{
    transform: rotateY(360deg);
}
#container2 .bg2:hover{
    transform: rotateY(360deg);
}
#container2 .bg3:hover{
    transform: rotateY(360deg);
}
#container2 .bg4:hover{
    transform: rotateY(360deg);
}

#container2 .bg2 {
    background-image: url(../images/main/treatment/main_treatment_2.png);
    transform: rotateY(0deg);
    transition: transform 2s;
}

#container2 .bg3 {
    background-image: url(../images/main/treatment/main_treatment_3.png);
    transform: rotateY(0deg);
    transition: transform 2s;
}

#container2 .bg4 {
    background-image: url(../images/main/treatment/main_treatment_4.png);
    transform: rotateY(0deg);
    transition: transform 2s;
}

.more_brd{
    position: absolute;
    top: 190px;
    left: 585px;
}


.more_brd a{
    display: inline-block;
    border: 1px solid #817a6f;
    border-radius: 25px;
    padding: 6px 22px;
    font-size: 18px;
    color: #817a6f;
}

.more_brd a:hover{
    background-color: #817a6f;
    color: rgb(255, 255, 255);
    border: none;
}


/* 성분 사진과 글자 잇는 세로줄 꾸미기 */
.line {
    margin: 20px 0;
    height: 80px;
    border-left: 1px solid rgb(160, 160, 160);
}

.line_2{
    margin: 20px 0;
    height: 80px;
    border-left: 1px solid rgb(160, 160, 160);
    position: relative;
    top: 0;
    right: -4px;
}

/* 성분 사진 밑 설명 글자 꾸미기 */
#container2 .content p {
    width: 187px;
    font-size: 17px;
    line-height: 1.5em;
    font-family: 'Gyeonggi_Batang_Regular';
    color: #717171;
}

/* 성분 사진 속 글자 꾸미기 */
#container2 strong {
    font-size: 20px;
    text-align: center;
    font-family: 'Gyeonggi_Title_Medium';
}

/* container3 _ BEST ITEMS */

#container3 {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

h2 {
    margin: 50px 0 40px 0;
    font-size: 30px;
}

.item {
    height: 380px;
    font-size: 15px;
    font-style: normal;
    letter-spacing: -0.5px;
    color: #646464;    
}

.product_left{
    text-align: left;
}

.product {
    font-size: 22px;
    font-weight: 100;
    font-style: normal;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(131, 131, 131);
    width: 235px;
    /* background-color: powderblue; */
    padding-left: 8px;
}

.price {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-style: normal;
    margin-top: 12px;
    padding-left: 8px;
    color: rgb(131, 131, 131);
}

.item .swiper {
    width: 1270px;
    height: 365px;
    overflow: hidden;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
/* 여기임 ~!!!!! */
}

.item .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.product_img{
    width: 200px;
}

.swiper-slide img {
    margin-bottom: 30px;
}

.more_prd{
    position: absolute;
    right:-30px;
    bottom: -80px;
}

.more_prd a{
    display: inline-block;
    border: 1px solid #817a6f;
    border-radius: 20px;
    padding: 6px 22px;
    font-size: 18px;
    color: #817a6f;
}

.more_prd a:hover{
    background-color: #817a6f;
    color: rgb(255, 255, 255);
    border: none;
}

/* container4 _ 배너 */

#container4 {
    background-image: url(../images/main/main_banner_blossom.png);
    height: 284px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 150px;
}


/* container5 _ banner */

#container5 {
    text-align: center;
    width: 1320px;
    margin: 0 auto;
} 

#container5 ul {
    display: flex;
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 70px;
}

#container5 ul li {
    position: relative;
    width: 50%;
}

.img_wrap img {
    display: block;
}

#container5 .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
}

#container5 ul li:hover .cover {
    display: none;
}


/* footer */

#footer {
    /* background-color: #605846; */
    background-color: #817a6f;
    height: 210px;
}

.inner_footer {
    width: 1320px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 15px;
    font-family: "Unna", serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.footer_link {
    display: flex;
    font-family: 'Pretendard-Regular';
    font-size: 13px;
}

.footer_link li a {
    display: block;
    font-family: 'Pretendard-Light';
}

.inner_footer .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.inner_footer .center h3 {
    font-size: 27px;
    margin-bottom: 10px
}


.inner_footer .left {
    line-height: 1.5em;
    text-align: left;
    margin-top: 15px;
    color: rgb(228, 228, 228);
}

.inner_footer .left p {
    font-family: 'Pretendard-Light';
    font-size: 13px;
    margin-bottom: 3px;
}

.footer_link li a {
    display: inline-block;
}

.inner_footer .left .logo {
    margin-bottom: 10px;
}

.footer_link li:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #fff;
    vertical-align: -1px;
}

.footer_link li:nth-child(1)::before {
    display: none;
}



.inner_footer .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Pretendard-Regular';
    width: 362px;
}

.inner_footer .right p {
    display: flex;
    justify-content: right;
    padding-right: 15px;
    color: rgb(228, 228, 228);
}

.sns {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.sns img {
    margin-bottom: 5px;
    margin-right: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #7c7c7c;
}

.swiper-pagination-bullet-active {
    background-color: #7c7c7c;
}



/* top 버튼 */

/* top 버튼 */

.topBtn {
    width: 70px;
    height: 70px;    
    background-color: #ffb83c;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    right: 35px;
    bottom: 35px;
    z-index: 999;
    cursor: pointer;
    color: #ffffff;
}

.topBtn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(128, 81, 24);
}

/* top 버튼 끝 */